.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #ccc;
}

.inner-container{
    width: 400px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    box-shadow: 5px 7px 5px #434;
    background-color: #fff;
}

header{
    background-color: #222;
    color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
}

.form-box{
    border: 1px solid #ccc;
    padding: 20px;
}


.input-line {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

